*.py[cod]    # will match .pyc, .pyo and .pyd files
.env         # exclude the whole folder

*.h5 #model files
*.zip

data/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt
data/submissions/
/data/glove.twitter.27B

**/.ipynb_checkpoints/
*.ipynb
