*.py[cod]    # will match .pyc, .pyo and .pyd files
.env         # exclude the whole folder

*.h5

data/submissions/
/data/test.txt
data/glove.twitter.27B
data/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt

*.zip

**/.ipynb_checkpoints/
*.ipynb

outlogs/
*.out
